* {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100%;
}

input[type="file"] {
  display: none;
}
 
svg {
  width: 100%;
  height: 100vh; 
}

.react-transform-component {
  width: 100% !important;
  height: 100vh;
}

.react-transform-element {
  width: 100% !important;
}

.little-red-box {
  border: 2px solid red;
  height: 8px;
  border-radius: 50%;
  width: 8px;
}

.img-zoom-lens {
  position: absolute;
  width: 40px;
  height: 40px;
}
